$backgroundColor: hsl(0, 0%, 9%);
$bodyColor: hsl(0, 0%, 53%);
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

html, body {
	width: 100%;
	background: $backgroundColor;
	color: $bodyColor;
	font-family: $bodyFont;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
