#search-container {
	justify-content: center;
	height: 90vh;

	display: flex;
	flex-direction: column;
	position: relative;

	width: 75%;
	@media screen and (min-width: 800px) {
		width: 50%;
	}
	@media screen and (min-width: 1250px) {
		width: 35%;
	}
	transition: all 0.3s ease;
}

#search-box {
	position: relative;
}

#search-input {
	border: none;
	color: hsl(0, 0%, 96%);
	border-radius: 8px;
	background-color: hsl(0, 0%, 9%);
	outline: none;
	font-size: 1.5rem;
	padding: 0.75rem 0rem 1rem 0.75rem;
	box-shadow: inset 0 0 0 1px hsl(0, 0%, 23%);
	transition: all 0.3s ease;
	width: 100%;
}

#search-submit {
	position: absolute;
	width: 44px;
	height: 100%;
	background: none;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	svg {
		fill: hsl(0, 0%, 58%);
	}
}
